In [1]:
# Dependencies and Setup
import pandas as pd
import os

In [2]:
# Define path to csv file

cities_file=os.path.join('.','resources','cities.csv')
cities_file

'.\\resources\\cities.csv'

In [11]:
# Read in csv file and convert to dataframe

file_cities=pd.read_csv(cities_file)

cities_df=pd.DataFrame(file_cities)

cities_df=cities_df[["City_ID", "City", "Country", "Latitude", "Max Temperature", "Cloudiness", "Wind Speed", "Humidity"]]

cities_df.head()

,City_ID,City,Country,Latitude,Max Temperature,Cloudiness,Wind Speed,Humidity
0,0,Tuktoyaktuk,CA,69.44,-7.60,40,6.93,76
1,1,Chuy,UY,-33.69,68.56,0,12.64,76
2,2,Port Hedland,AU,-20.31,80.60,7,8.05,19
3,3,Atuona,PF,-9.80,80.24,21,13.69,72
4,4,Gasa,BT,27.91,24.42,0,1.14,67

In [14]:
# output data fram to html format

cities_df.to_html('./resources/cities.html')